.card {
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 30%);
  transition: ease-in-out 250ms;
}

.card:hover {
  /* margin: 1px !important; */
  transform: scale(1.02) ;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 30%);
}

.thumbnail {
  aspect-ratio: 4/3;
  object-fit: cover;
}
